<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Brewspace likes | Josh Richau</title>
  <meta name="description" content="Visualization brewspace liking behavior">
  <meta name="author" content="Josh Richau">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS-->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700|Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/chosen.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
  <div class="container" id="main-container">
    <div id="top-nav">
      <ul>
        <li><a data-controls-modal="about-modal" data-backdrop="true" data-keyboard="true" href="javascript:void(0)">About</a></li>
      </ul>
    </div>
    <div id="about-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Who likes who?</h3>
      </div>
      <div class="modal-body">
        <h4>About</h4>
        <p>Who likes whose stuff?</p>
        <p>This visualization lets you explore the liking behavior in brewspace.</p>
        <p>The <strong>x-axis</strong> shows how many likes a user gets <strong>y-axis</strong> shows how many likes they hand out. Each <strong>dot</strong> in the visualization represents a user. Hover over the dot to get the specifics on that user.</p>
        <h4>Filters</h4>
        <p>Use the filters above to select specific Departments</p>
        <p>With the controls below, specify the timespan to look at, and the number of top likers and top liked to see at one time.</p>
        <h4>Data</h4>
        <p>Data pulled from Data Export API and core API (points)</p>
        <h4>Visualization</h4>
        <p>Created Using <a href="http://mbostock.github.com/d3/">d3.js</a>. Best viewed in <a href="">Google Chrome</a> or <a href="">Safari</a></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn primary">Ok</a>
      </div>
    </div>
    <header>
    <h1 id="title-top">Liking behavior in Brewspace</h1>
    </header>
    <div id="main" role="main">
      <div class="row">
        <div class="span8">
          <select data-placeholder="Filter by Department..." class="chzn-select" id="genre-select" multiple style="width:280px;" tabindex="4">
            <option value=""></option>
            <option value="Inside Sales - US">Inside Sales - US</option>
            <option value="Engineering">Engineering</option>
            <option value="Support">Support</option>
            <option value="Sales Engineers">Sales Engineers</option>
            <option value="Finance">Finance</option>
            <option value="Professional Services">Professional Services</option>
            <option value="Field Sales - US East">Field Sales - US East</option>
            <option value="Enterprise Solutions">Enterprise Solutions</option>
            <option value="Sales Management">Sales Management</option>
            <option value="Inside Sales">Inside Sales</option>
            <option value="Product Management">Product Management</option>
            <option value="Marketing">Marketing</option>
            <option value="Infrastructure Engineering">Infrastructure Engineering</option>
            <option value="Strategy">Strategy</option>
            <option value="Product Marketing">Product Marketing</option>
            <option value="HR">HR</option>
            <option value="Field Sales">Field Sales</option>
            <option value="Facilities">Facilities</option>
            <option value="Hosting">Hosting</option>
            <option value="Sales Engineers - US">Sales Engineers - US</option>
            <option value="Sales">Sales</option></option>
            <option value="Corporate">Corporate</option>Alliances
            <option value="IT">IT</option>
            <option value="Legal">Legal</option>
            <option value="Field Sales - US Central">Field Sales - US Central</option>
            <option value="Sales - Inside Sales">Sales - Inside Sales</option>
            <option value="None">None</option>
            <option value="Services Management">Services Management</option>
            <option value="Field Sales - Europe">Field Sales - Europe</option>
            <option value="Sales - Telesales">Sales - Telesales</option>
            <option value="Solution Enablement">Solution Enablement</option>
            <option value="Sales: Field Sales - Europe">Sales: Field Sales - Europe</option>
            <option value="General and Administrative">General and Administrative</option>
            <option value="Field Sales - US West">Field Sales - US West</option>
            <option value="Engineering Core">Engineering Core</option>
            <option value="Education">Education</option>
            <option value="Engineering Services">Engineering Services</option>
            <option value="Sales Engineer">Sales Engineer</option>
            <option value="Engineering Quality Assurance">Engineering Quality Assurance</option>
            <option value="Business Development">Business Development</option>
            <option value="Engineering Management">Engineering Management</option>
          </select>
        </div>
      </div>
      <div id="vis"></div>
      <div id="tooltip" class="hidden">
        <div class="content"></div>
        <div class="tri"></div>
      </div>
      <div class="row">
        <div class="span5">
          <div id="years" class="control">
            <h3>Type</h3>
            <div class="control-links">
            <a id="all" class="active">All</a> | 
            <a id="givers">givers</a> | 
            <a id="receivers">receivers</a>
          </div>
          </div>
        </div>
        <div class="span3 offset5">
          <div id="top" class="control">
            <h3>Top</h3>
            <div class="control-links">
            <a id="top-0">0</a> | 
            <a id="top-5">5</a> | 
            <a id="top-15">15</a> | 
            <a id="top-25">25</a> | 
            <a id="top-50" class="active">50</a> |
            <a id="top-100">100</a>
          </div>
            <h3>Given</h3>
          </div>
        </div>
        <div class="span3">
          <div id="bottom" class="control">
            <h3>Lowest</h3>
            <div class="control-links">
              <a id="bottom-0" class="active">0</a> | 
              <a id="bottom-5">5</a> | 
              <a id="bottom-15">15</a> | 
              <a id="bottom-25">25</a> | 
              <a id="bottom-50">50</a> |
              <a id="bottom-100">100</a>
            </div>
            <h3>Given</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4"><a id="key-link" href="javascript:void(0)">Key</a></div>
      </div>
      <div class="row">
        <div class="span7">
          <div id="key" style="display:none;"></div>
          <p></p>
        </div>
      </div>
    </div>
    <div id="details">
      <h2>Details</h2>
      <div class="row">
        <div class="span6 offset1">
          <p></p>
          <div id="detail-love">
            <h2>Top <span id="sub-title-love">Givers</span></h2>
          </div>
        </div>
        <div class="span6 offset2">
          <p></p>
          <div id="detail-hate">
              <h2>Top <span id="sub-title-hate">Receivers</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div> <!--! end of .container -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


      <script defer src="js/plugins.js"></script>
      <script defer src="js/script.js"></script>
      <script src="js/libs/jquery.lettering-0.6.1.min.js"></script>
      <script src="js/libs/bootstrap-modal.js"></script>
      <script src="js/libs/chosen.jquery.min.js"></script>
      <script src="js/libs/coffee-script.js"></script>
      <script src="js/libs/d3.min.js"></script>
      <script src="js/libs/d3.csv.min.js"></script>
      <script type="text/coffeescript" src="coffee/vis.coffee"></script>
      <!-- <script src="coffee/vis.js"></script> -->
      <script type="text/javascript">
        $(document).ready(function() {
            $("#title-top").lettering('words');
            $(".chzn-select").chosen();
            $('.control-links a').click(function() {
              $(this).siblings().removeClass('active');
              $(this).addClass('active');
              });
            $('#years a').click(function() {
              var new_options = {"year": $(this).attr("id")};
              update_options(new_options);
              });
            $('#top a').click(function() {
              var top_limit = $(this).attr("id").split("-");
              var new_options = {"top": parseInt(top_limit[1])};
              update_options(new_options);
              });
            $('#bottom a').click(function() {
              var bottom_limit = $(this).attr("id").split("-");
              var new_options = {"bottom": parseInt(bottom_limit[1])};
              update_options(new_options);
              });
            $("#genre-select").change(function() {
              var genres = $(this).val();
              var new_options = {"genres": genres};
              update_options(new_options);
              });
            $("#story-select").change(function() {
              var stories = $(this).val();
              var new_options = {"stories": stories};
              update_options(new_options);
              });
            $('#key-link').click(function() {
                $("#key").slideToggle();
                return false;
              });
            $('#story-link').click(function() {
                $("#stories-section").slideToggle();
                return false;
                });

            var stories = {};

            $('#story-list a').mouseover(function() {
                var key = $(this).text();
                var story = stories[key];
                $("#story-detail p").html(story);
                return false;
                });
            });
          </script>


<script> // Change UA-XXXXX-X to be your site's ID
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>


<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>
